form{
    background-color: burlywood;
    width: 25%;
    height: 25%;
    text-align: center;
    margin-left: 30%;
    border-radius: 50px;
    color: aqua;
    
}
input{
    border-radius: 6px;
    margin-left: 10px;
}
h1{
  text-align: center; 
  text-decoration: underline; 
}
body{
    background-color: darkgreen;
}