body {
    font-family: Tahoma, sans-serif;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
  }
  
  .food-img {
    width: 280px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  iframe {
    display: block;
    margin: 20px auto;
    border: 2px solid #333;
  }
  
  a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #1e90ff;
  }
  